.header {
    text-align: center;
    height: 30px;
    background-color: #1d9bf0;
    border: 1px #1d9bf0 solid;
    font-size: 20px;
    color: white;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}
  
.upper {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: calc(60% - 15px);
    border: 1px #1d9bf0 solid;
}
#wordcloud {
    margin-left: 0;
    width: 60%;
    height: 100%;
    border: 1px #1d9bf0 solid;
    overflow:hidden;
}
#users
{
    margin-right: 0;
    margin-bottom: 110px;
    width: 40%;
    height: 100%;
    border: 1px #1d9bf0 solid;
    overflow: auto;
}

.box_user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 20px;
    border: 1px #242d34 solid;
    -webkit-box-shadow: 6px 7px 15px -4px #000000; 
    box-shadow: 6px 7px 15px -4px #000000;
}

.sentiment {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(40% - 25px);
    /* border: 1px #1d9bf0 solid; */
}

#sentiment_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 100%;
    border: 1px #1d9bf0 solid;
    background-color: #1d9bf0;
}

.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgb(29,189,240);
    background: linear-gradient(0deg, rgba(29,189,240,1) 0%, rgba(29,155,240,1) 100%);
}

.chart :hover{
    background: #84e1ff;
    -webkit-transition: background 0.5s; /* For Safari */
    transition: background 0.5s; /* For modern browsers */
}

.chart img{
    height: 40px;
}

#type_line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sentiment{
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px #1d9bf0 solid;
}
.word-active {
    fill: #b3697a;
    text-decoration: underline;
}