@font-face {
    font-family: 'Impact';
    src: url('font.ttf') format('truetype');
}

.header {
    text-align: center;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    height: 7%;
    background-color: #1e3d58;
    font-size: 30px;
    color: white;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background-color: #1e3d58;
}
  
.upper {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 50vh;
    border-bottom: 3px #1e3d58 solid;
    width: 94%;
    margin-left: 6%;
}
#wordcloud {
    margin-left: 0;
    width: 60%;
    height: 100%;
    background-color: #d1dbe4;
    border-right: 3px #116A7B solid;
    overflow:hidden;
}
#users
{
    margin-right: 0;
    margin-bottom: 110px;
    width: 40%;
    height: 100%;
    background-color: #d1dbe4;
    overflow: auto;
}

.box_user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 20px;
    border: 1px #242d34 solid;
    background-color: #7593af;
    color: white;
    -webkit-box-shadow: 6px 7px 15px -4px #000000; 
    box-shadow: 6px 7px 15px -4px #000000;
}

.box_user:hover{
    background-color: #1e3d58;
}


.active{
    background-color: #1e3d58 !important;
}

.sentiment {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 49vh;
    /* border: 1px #1d9bf0 solid; */
    margin-left: 6%;
}

.logo {
    width: 100%;
}

.sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 6%;
    height: calc(99vh + 5px);
    color: white;
    background-color: #1e3d58;
    transition: width 0.5s;
}

.sidebar h2 {
    font-size: 15px;
}

.sidebar:hover {
    width: 20%;
}

.sidebar:hover h2{
    font-size: 20px;
}

.sidebar #wordcloud_menu:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar #wordcloud_menu p {
    display: none;
    transition: display 0.5s;
}

.sidebar #wordcloud_menu:hover p {
    display: block;
}

.sidebar #wordcloud_filters {
    display: none;
    
}

.sidebar #wordcloud_menu:hover #wordcloud_filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3px;
    border-top: 1px solid wheat;
}


.sidebar .colormap{
    display: none;
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #ff4528, #ff6539, #ff7f4c, #ff9562, #ffaa7a, #f6b27c, #edb981, #e4bf88, #cebc7c, #b5b974, #99b672, #7bb274);
}

.sidebar #wordcloud_menu:hover .colormap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.sidebar #users_filters {
    display: none;
}

.sidebar #users_menu:hover #users_filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 3px;
    border-top: 1px solid wheat;
}

.sidebar #users_menu:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar #users_menu p {
    display: none;
}

.sidebar #users_menu:hover p {
    display: block;
}

.sidebar #sentiment_menu_tipbox p {
    display: none;
}

.sidebar #sentiment_menu_tipbox:hover p {
    display: block;
}

.button {
    background-color: #7593af;
    color: white;
    border: none;
    border-radius: 3px;
    width: 100%;
}

#tipbox_menu {
    text-align: center;
}

#sentiment_menu {
    display: none;
}

.sidebar #sentiment_menu_tipbox:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar #sentiment_menu_tipbox:hover #sentiment_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    background-color: #1e3d58;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.chart{
    display: flex;
    height: 50px;
    background: #1e3d58;
    margin-left: 20%;
}

.chart :hover{
    background: #84e1ff;
    -webkit-transition: background 0.5s; /* For Safari */
    transition: background 0.5s; /* For modern browsers */
}

.chart img{
    height: 40px;
}

#type_line{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid wheat;
}

#sentiment{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #d1dbe4;
}
.word-active {
    fill: #b3697a;
    text-decoration: underline;
}

.tip-box {
    position: absolute;
    background-color: #FFE0AC;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    left: -9999px;
    top: -9999px;
}